<section class = 'home-page_section'>

    <header>
        <img src="../../assets/logo.png" class = 'twitter-logo'>
        <div class="header-right">
        <a class="active" href="#home"> <img src="../../assets/home.png" class = 'home-icon'>Home</a>
        <a href="#contact"><img [src]="users[0].ava" class = 'profile'> {{users[0].handle}}</a>
        </div>
    </header>
    
    <section class = 'page-content'>
        <aside class = 'left-sidebar'>

            <div class="user-profile" *ngIf="users && users.length > 0">

                <div class="active-user">
                    <img [src]="users[0].ava" class = "recommended-user-ava">
                    <p class = 'handle' >{{users[0].handle}}</p>
                    <p class = 'tagname' >{{users[0].tagname}}</p>
                    <p class = 'bio'> {{users[0].bio}}</p>
                </div>

                <div class="active-user-data">
                    <hr>
                    <div class = 'followers-data'>
                        <div>
                            <p class = 'count-follower'>{{users[0].followers}}</p> <p class="followers">Followers</p> 
                        </div>
                        <div class = 'vertical-line'></div>
                        <div >
                            <p class = 'count-follower'>{{users[0].following}}</p> <p class="following">Following</p>
                        </div>
                    </div>
                    <hr>
                    <a href = '#'>My Profile</a>
                </div>


            </div>
    
            <div class = 'following-rec'>
                <h4>Who is to follow you</h4>

                <div class = "recommended-users" *ngIf="users && users.length > 0">
                    <img [src]="users[0].ava" class = "recommended-user-ava">

                    <div class="username">
                        <p class = 'handle'>{{users[0].handle}}</p>
                        <p class = 'tagname'>{{users[0].tagname}}</p>
                    </div>

                    <button>Follow</button>

                </div>

                <a href="#" class = 'show-more'>Show More...</a>
            </div>

        </aside>


    
        <div class="posts-content">

            <div class="tweet-posting">

                <form>
                    <img [src]="users[0].ava" class = 'user-post-ava'>
                    <div *ngIf="users && users.length > 0">
                        <textarea rows="5" cols="50" placeholder="What's new?!"></textarea>
                    </div>
                </form>

                <div class="buttons">
                    <button class = 'tweet-submit'>
                        Tweet
                    </button>
                    <button class = 'img-submit'>
                        <img src="../../assets/images.png" alt="">
                    </button>
                </div>

            </div>


            <div *ngIf="users && users.length > 0">
                <div *ngFor="let post of users[0].posts" class='tweet-post' >
                    <div class="tweet-user">
                        <img [src]="users[0].ava" class = 'user-post-ava'>
                        <p class = 'handle'>{{users[0].handle}}</p>
                        <p class = 'tagname'>{{users[0].tagname}} </p>
                        <p class = 'date'> · {{formatDate(post.date)}} </p>
                    </div>

                    <div class="tweet-content">
                        <p>{{ post.content }}</p>
                        <img [src] = "post.photo">
                    </div>
                    <hr>
                    <div class="comment-like">
                        <span><button style="font-size: 18px;">&#10084;</button>{{ post.likes }}</span>
                        <span><button><img src="../../assets/comments.png" class = 'comments'></button>{{ post.comments.length}}</span>
                    </div>
                </div>

            </div>
        </div>
    

        <aside class = 'right-sidebar'>
           <h4>Trend for you</h4>

           <div *ngFor="let post of posts">

                <a href= "#" class = "trends">
                    <h5>#{{ post.title }}</h5>
                    <p>{{ post.likes }} Likes | {{ post.comments.length }} Comments</p>
                    <button>· · ·</button>
                </a>
                
            </div>

            <a class = 'show-more' href="#">Show More...</a>

        </aside>

    </section>
    </section>