<section class="login-page_section">
    <div class="login_form">
        <img src="../../assets/logo.png" class="login_logo"/> 
        <h2 class="login_title">Log in to Twitter</h2>
        <div class="inputs_container">
            <div class="input_container">
                <input class="input" type="text" placeholder="Phone, email or username"/>
            </div>
            <div class="input_container">
                <input class="input" type="text" placeholder="Password"/>
            </div>
        </div>
        <button class="login_button">Log in</button>
        <div class="buttons_container">
            <button class="brdl_button">Forgot password?</button>
            <button class="brdl_button">Sign up for Twitter</button>
        </div>
    </div>
</section>