<div class="tweet-holder">
    <app-tweet [tweet]="tweet"></app-tweet>
    <div class="input-holder">
        <input [(ngModel)]="usersComment" type="text" placeholder="Write your comment here"><button
            (click)="sendComment()">Send</button>
    </div>
    <div *ngFor="let comment of comments" class="comment-holder">
        <div class="comment">
            <div class="pfp-holder">
                <img class="pfp" src="{{'http://127.0.0.1:8000' + comment.user.profile.pfp}}" />
            </div>
            <div class="comment-contents">
                <div class="comment-info">
                    <div> <a
                            [routerLink]="['', comment.user.username]"><strong>{{comment.user.profile.name}}</strong></a>
                        <p>{{'@' + comment.user.username}} </p>
                    </div>

                    <button *ngIf="comment.user_id==currentUser.id" (click)="confirmDelete(comment)">...</button>
                    <div *ngIf="showConfirmModal!=-1" class="modal">
                        <div class="modal-content">
                            <p>Are you sure you want to delete this comment?</p>
                            <button id="delete" (click)="deleteComment()">Delete</button>
                            <button id="cancel" (click)="showConfirmModal = -1">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="comment-content">
                    <p>{{comment.content}}</p>
                </div>
                <small>{{comment.created_at}}</small>
            </div>
        </div>


    </div>
</div>