<section class="login-page_section">
    <div class="back-arrow_container">
    </div>
    <form id="login-form" class="custom_form" [class.active]="formType == getFormType.LOGIN" *ngIf="formType == getFormType.LOGIN" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" autocomplete="off">
        <img src="../../assets/logo.png" class="login_logo"/> 
        <h2 class="login_title">Log in to Twitter</h2>
        <div class="inputs_container">
            <div class="input_container">
                <input class="input" type="text" placeholder="Phone, email or username" formControlName="email" required minlength/>
                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <div class="input_container">
                <input class="input" type="password" placeholder="Password" formControlName="password" required minlength/>
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
                </div>
            </div>
            
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="submit_button">Log in</button>
        <div class="buttons_container">
            <button class="brdl_button">Forgot password?</button>
            <button class="brdl_button">Sign up for Twitter</button>
        </div>
    </form>
    <form  *ngIf="formType == getFormType.REGISTER" id="register_form" class="custom_form register_form" [class.active]="formType == getFormType.REGISTER" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" autocomplete="off">
        <img src="../../assets/logo.png" class="login_logo"/> 
        <h2 class="login_title">Register to Twitter</h2>
        <div class="inputs_container">
            <div class="input_container">
                <input class="input" type="text" placeholder="Phone, email or username" formControlName="email" required minlength/>
                <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                    <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>
            <div class="input_container">
                <input class="input" type="password" placeholder="Password" formControlName="password" required minlength/>
                <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</div>
                </div>
            </div>
            <div class="input_container">
                <input class="input" type="password" placeholder="Confirm password" formControlNam="confirmPassword" required minlength>
                <div *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
                    Passwords do not match.
                </div>
            </div>
        </div>
        <button class="submit_button" type="submit" >Register</button>
    </form>
    <form *ngIf="formType == getFormType.INFO" id="info_form" class="custom_form" [class.active]="formType == getFormType.INFO" [formGroup]="infoForm" (ngSubmit)="onInfoSubmit()" autocomplete="off">
        <img src="../../assets/logo.png" class="login_logo"/> 
        <h2 class="login_title">Register to Twitter</h2>
        <div class="inputs_container adjust_container">
            <!-- <bwm-image-upload></bwm-image-upload> -->
            <div class="input_container">
                <input class="input" type="text" placeholder="Your name" formControlName="name" required/>
            </div>
            <div class="input_container">
                <input class="input" type="text" placeholder="Your surname" formControlName="surname" required/>
            </div>
        </div>
        <button class="submit_button" type="submit" >Register</button>
    </form>
</section>