.login-page_section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06141d;
    position: relative;
}


.back-arrow_button{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50px;
    left: 50px;
    background-color: transparent;
    border: 0;
    outline: 0;
}
.back-arrow_button:hover{
    cursor: pointer;
}

.back-arrow_img{
    width: 70px;
    height: 70px;
    color: white;
}

.custom_form{
    transform: translateX(-100%);
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    background-color: #1a2730;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
}

.login_logo{
    width: 60px;
    height: 50px;
    user-select: none;
}

.login_title{
    height: 50px;
    font-size: x-large;
    color: #d4dfe8;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.avatar-container {
     position: relative;
     width: fit-content;
 }
 
.image-container {
     height: 200px;
     width: 200px;
     z-index: 1;
     border-radius: 50%;
     background-color: #fff;
     background-position: center;
     background-size: cover;
     box-shadow: 0 10px 20px 20px #6c93001a;
 }

 .icon-wrapper {
    label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;
}
.icon-wrapper:hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
}

.icon-wrapper .icon {
    color: white;
}

.icon-wrapper label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper input[type='file'] {
    display: none;
}

.inputs_container{
    margin-top: -20px;
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input_container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #28353e;
    border-radius: 20px;
}


.input{
    width: 90%;
    background-color: #28353e;
    border: 0;
    outline: 0;
    height: 50%;
    color: white;
    font-size: 16px;
    user-select: none;
}

input:-webkit-autofill {
    background-color: 28353e !important;
}

.submit_button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-weight: 540;
    font-size: 16px;
    color: black;
    user-select: none;
}

.submit_button:hover{
    cursor: pointer;
}

.buttons_container{
    height: 25px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.brdl_button{
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #418abd;
    font-size: 16px;
    user-select: none;
}

.brdl_button:hover{
    color: violet;
    cursor:pointer;
}

.active{
    transform: translateX(0);
}


