.main-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-feed {
    width: 50%;
    height: 100%;
    border: solid 1px;
    border-color: #d4dfe89f;
}




#banner {
    width: 100%;
    z-index: 0;
}

#banner-holder {
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 0;
}

#pfp-holder {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 20px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 32, 43, 255);
    margin-top: -90px;
    z-index: 1;
}

#pfp {

    width: 95%;
    height: 95%;
    border-radius: 100%;
    object-fit: cover;
    z-index: 2;
}

h2 {
    color: white;
    margin: 20px 10px 0 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin-left: 30px;
    font-size: medium;
}

#bio {
    color: white;
    padding-top: 20px;
}

strong {
    color: white;
}

hr {
    border: solid 1px;
    border-color: #d4dfe89f;
}

.no-tweets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.no-tweets h1 {
    color: white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.no-tweets img {
    width: 50%;

}

button {
    margin-top: 20px;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    border: solid 0.6px;
    border-color: #d4dfe89f;
    color: white;
    padding: 0 15px 0 15px;
}

button:hover {
    background-color: #d4dfe84e;
}